@model IEnumerable<CatShop.Models.CatCustomModel>
  
<section class="blog_categorie_area">
    <div class="container">
      <div class="row">
        @foreach(var item in Model)
        {
        <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
            <div class="categories_post">
                <img class="card-img rounded-0" src="~/@item.img" alt="post">
                <div class="categories_details">
                    <div class="categories_text">
                        <a href="single-blog.html">
                            <h5>Social Life</h5>
                        </a>
                        <div class="border_line"></div>
                        <p>Enjoy your social life together</p>
                    </div>
                </div>
            </div>
        </div>
        }
      </div>
    </div>
  </section>