@{
    ViewBag.Title = "Getdetail";
}

<h2>Getdetail</h2>
@model CatShop.Models.Blog
<div>
    <div>
        <img src="~/@Model.img" />
    </div>
    <div>
        @Model.NoiDung
    </div>
    <div>
        @Model.ThoiGian
    </div>
    <div>
        @Model.slview
    </div>

</div>