
<section class="instagram_area">
    <div class="container box_1620">
        <div class="insta_btn">
            <a class="btn theme_btn" href="#">Follow us on instagram</a>
        </div>
        <div class="instagram_image row m0">
            <a href="#"><img src="~/Anh%20meo/Meo_tai_cup/39.jpg" style="width:217px;height:192px" alt=""></a>
            <a href="#"><img src="~/Anh%20meo/Meo_vang/48.jpg" style="width:217px;height:192px" alt=""></a>
            <a href="#"><img src="~/Anh%20meo/Meo_vang/52.jpg" style="width:217px;height:192px" alt=""></a>
            <a href="#"><img src="~/Anh%20meo/Meo_vang/55.jpg" style="width:217px;height:192px" alt=""></a>
            <a href="#"><img src="~/Anh%20meo/Meo_anh_long_dai/8.jpg" style="width:217px;height:192px" alt=""></a>
            <a href="#"><img src="~/Anh%20meo/Meo_anh_long_ngan/18.jpg" style="width:217px;height:192px" alt=""></a>
        </div>
    </div>
</section>